@import "./variables.styl"


.aboutContainer
  // padding-top 12rem
  // border-top 0.5px solid $black

.currentProfileImage
  width 24rem
  margin-right 1.6rem

.childProfileImage
  width 8rem

.profileCaption
  font-size 1.4rem
  margin-top 0.4rem

.aboutDescription
  font-size 2.2rem
  margin 3.2rem 0 6.4rem 0

  white-space: pre-line

.contactButtonsContainer
  display flex
  margin-bottom 6.4rem

  div
    margin-right 1.6rem



.middleCol
  display flex

  .imagesColumn
    width 32rem
    margin-right 3.2rem

  .arenaModuleContainer
    margin-bottom 3.2rem

    a 
      font-size 1.6rem

  .arenaTitle
    font-size 2.2rem
    margin-bottom 0.8rem

  .arenaImage
    // matching column width
    // this over 100% otherwise
    // column will get squished
    width 32rem
    // margin-top 1.6rem

  .arenaEssayTitle
    font-size 1.8rem

  .arenaCaption
    font-size 1.4rem
    font-style italic
    max-width 26rem


  .arenaButton
    margin-top 1.6rem

  .textsColumn
    max-width 32rem
    display flex
    flex-direction column

  .colophonContainer
    margin-bottom 3.2rem

    .colophonModule
      margin-bottom 1.6rem

  .arenaReadingShortModule
    margin-bottom 1.6rem

  .snapItMonoTypeface
    font-family $click-font-family
    font-size 1.6rem

