.button
  margin-bottom 0.8rem
  width max-content
  background-color $background-color

  a
    font-size 1.6rem
    display flex

    svg
      margin-right 0.8rem

    svg
    span
      vertical-align middle