@import "./variables.styl"

.carouselContainer
  height 80vh
  display flex

.visualsContainer
  height 100%
  width 100%
  margin-left 3.2rem 
  position relative
  z-index 1
  
  overflow hidden
  background-color $light-grey

  cursor url(/cursor/RightArrow.svg) 30 18, pointer

  .image
    height 100%
    width 100%

    // to prevent image from squishing
    object-fit contain
    // to align image to the bottom when being squished
    object-position left bottom

    position absolute 
    user-select none


// this is a workaround so to have onhover right side to have 
// video pop up the controls, while still having onhover left side to 
// go back a slide
// the right side click is attached to the visualsContainer
// so it's not an additional layer on top, which will block
// pointer events for the video itself
.slideLeftBox 
  height 100% 
  position absolute 
  width 50%
  left 0
  cursor url(/cursor/LeftArrow.svg) 0 18, pointer	

// .slideRightBox  
//   right 0
//   cursor url(/cursor/RightArrow.svg) 30 18, pointer	

.controlsContainer
  display flex
  justify-content right
  align-items end
  user-select none 

  // outer span wraps it so the controls+svg move as a single unit to the bottom
  // allows for controls & svg to center with one another individually
  span
    display flex
    align-items center

    div
      margin 0 0.8rem
      width 3.2rem
      vertical-align middle
      text-align center

    svg
      vertical-align middle
      cursor pointer


.hidden
  display none



$slideTime = 0.25s
// $slideTime = 5s




.slideInNext
  animation $slideTime forwards slideInNextAnimation

@keyframes slideInNextAnimation
  from 
    left 100%
    // opacity 0%

  to 
    left 0%
    // opacity 100%


.slideOutNext
  animation $slideTime forwards slideOutNextAnimation

@keyframes slideOutNextAnimation
  from
    left 0%
    // opacity 100%

  to 
    left -100%
    // opacity 0%


.slideInPrev
  animation $slideTime forwards slideInPrevAnimation

@keyframes slideInPrevAnimation
  from 
    left -100%

  to 
    left 0%


.slideOutPrev
  animation $slideTime forwards slideOutPrevAnimation

@keyframes slideOutPrevAnimation
  from
    left 0%

  to 
    left 100%