
.layoutHomeContainer
  padding 1.6rem
  // prevent scrollbar from appearing when carousel image shifts left
  overflow-x hidden
  // scroll-snap-type y mandatory

.layoutProjectContainer
  // overflow-x hidden

// .layoutHomeContainer > div 
//   scroll-snap-align start