@import "./variables.styl"


.introContainer 
  // margin-bottom 3.2rem

  p
    margin-top 0
    font-size 22px
  
  .downIcon
    vertical-align middle

  .mobileVersionText
    font-size 16px
    // 3.2 + 0.8, 0.8 is to visually balance it out
    padding-top 4rem

.topVideoContainer
  // this is 16px + 16px from position relative below
  margin-bottom 16px

  .topVideo
    position relative 
    left -16px 
    top -16px 
    width 100vw

  .caption
    position relative 
    top -16px
    // margin-top 0

.backgroundBlock
  color $background-color
  background-color $black
  font-style italic
  display inline


.withCaptionContainer 
  display flex 
  flex-direction column
  margin-bottom 3.2rem

.caption 
  font-size 16px
  margin-top 8px
  line-height 1.25

.divider 
  margin 6.4rem 0
  font-size 2.2rem


.profileImageContainer

  .currentProfileImage 
    width 18rem
    margin-right 1.6rem

  .childProfileImage
    width 8rem

.aboutDescription
  font-size 22px

.contactButtonsContainer
  margin-bottom 1.6rem
