@import "./variables.styl"

.carouselContainer
  // margin 0.8rem 0

.visualsContainer
  position relative // necessary to ground postion absolute in the image and video
  overflow hidden
  left -16px

  height 35vh
  width 100vw
  background-color $light-grey
  

  .image
    height 100%
    width 100%

    // to prevent image from squishing
    object-fit contain
    // object-position bottom center

    position absolute
    
  // video 
  //   object-position bottom center !important

.wrapper 
  height 100%
  width 100%

.controlsContainer
  display flex
  user-select none 
  align-items center
  justify-content right
  margin-top 0.8rem
  margin-bottom 0.8rem

  div
    // margins are separated from the controls container
    // so that the text & the arrow svgs align
    margin 0 0.8rem
    width 3.2rem
    text-align center

.hidden
  display none




$slideTime = 0.25s
// $slideTime = 5s

.slideInNext
  animation $slideTime forwards slideInNextAnimation

@keyframes slideInNextAnimation
  from 
    left 100%
    // opacity 0%

  to 
    left 0%
    // opacity 100%


.slideOutNext
  animation $slideTime forwards slideOutNextAnimation

@keyframes slideOutNextAnimation
  from
    left 0%
    // opacity 100%

  to 
    left -100%
    // opacity 0%


.slideInPrev
  animation $slideTime forwards slideInPrevAnimation

@keyframes slideInPrevAnimation
  from 
    left -100%

  to 
    left 0%


.slideOutPrev
  animation $slideTime forwards slideOutPrevAnimation

@keyframes slideOutPrevAnimation
  from
    left 0%

  to 
    left 100%