@import "./variables.styl"


.navContainer
  position fixed
  left 0
  bottom 1.6rem
  padding 0 1.6rem
  
  width 100%
  box-sizing border-box

  z-index 2

.upIcon
  cursor pointer

.subtitleContainer
  color pink

  .subtitleText
    color $background-color
    background-color $black

.contactContainer
  display flex
  flex-direction column

  a
    width max-content
    font-size 1.2rem
    background-color $background-color


