
$background-color = #f2f2f2
$light-grey = #f5f5f5
$highlight-color = #FFC738
$black = #000

$default-font-family = "Lucette"
$click-font-family = "Snap It Mono"
// snap-it looks best 2px smaller than lucette equivalent
// e.g 18px body text becomes 16px for snap-it


// FONTS

@font-face {
  font-family: 'Lucette';
  font-weight: 400;
  font-display: swap;
  font-style: normal;
  font-named-instance: 'Regular';
  src: url(/fonts/Lucette-Regular.woff2) format("woff2");
}

@font-face {
  font-family: 'Lucette';
  font-weight: 400;
  font-display: swap;
  font-style: italic;
  font-named-instance: 'Italic';
  src: url(/fonts/Lucette-Regularitalic.woff2) format("woff2");
}

@font-face {
  font-family: 'Snap It Mono';
  font-weight: 400;
  font-display: swap;
  font-style: normal;
  font-named-instance: 'Regular';
  src: url(/fonts/Snap-itmono-1.6-Regular.woff2) format("woff2");
}